/* Featured Image */
.featured-image-container{
  grid-area: fi;
  text-align: center;
  padding: 5px 0 0;
}

.featured-image{
  width: 100%;
  height: auto;
}

/* Responsive CSS */
@media (min-width:900px){
.featured-image-container{
  padding: 20px 15em;
  }
}
@media(min-width: 600px) and (max-width: 900px){
.featured-image-container{
  padding: 20px 2em;
  }
}
