.subscribe-form{
  min-height: 300px;
  place-items: center;
  background: #221C35;
  justify-items: stretch;
  border-radius: 25px;
  padding: 30px 20px 50px;
}

input, button{
  font: inherit;
  border: 1px solid;
}

form{
  display: flex; 
  flex-direction: column;
  gap: 10px;
}

input{
  flex-grow: 1;
  padding: 0.5em 0.75em;
}

button{
  padding: 0.5em 0.75em;
  background: pink; 
  color: #221C35;
  font-weight: bold;
}

.subscribe-heading{
  margin: 0 0 10px;
  font-size: 25px;
  color: #fff;
}
