.subscribe-form{
  grid-template-columns: 1fr;
  min-height: 100vh; 
  place-items: center;
  background: #221C35;
  justify-items: stretch;
}

input, button{
  font: inherit;
  border: 0;
  &:focus {
    outline: none;
  }
}

form{
  display: flex; 
  grid-column: 1;
}

input{
  flex-grow: 1;
  padding: 0.5em 0.75em;
}

button{
  padding: 0.5em 0.75em;
  background: #fff; 
  color: #221C35;
}

.subscribe-heading{
  margin-top: 0;
  font-size: 25px;
  color: #fff;
}
