/* Main Content Area */
.container{
  display:grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "hd"
  "con"
  "ft";
}
.content{
  grid-area: con;
  text-align: center;
}
@media (min-width:900px){
.container{
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd"
  "con con con con con con con con"
  "ft ft ft ft ft ft ft ft";
}
.content{
  padding: 20px 5%;
  text-align: left;
  grid-area: con;
  grid-template-columns: auto auto auto;
  display: grid;
  grid-gap: 2%;
  justify-content: center;
  }
}
@media(min-width: 600px) and (max-width: 900px){
  .content {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
