.content-article {
  display: grid;
  padding: 20px 10%;
  grid-area: con;
}

.article-featured-image {
  text-align: center;
  width: 100%;
  height: auto;
}

.article-heading {
  text-align: center;
  font-size: 3em;
  color: #333;
}

.article-sub-heading {
  font-size: 1.5em;
  text-align: center;
  color: #3e3e3e;
}

.article-author-social {
  display: grid;
  grid-template-columns: 50% 50%;
}
