/* Layout */
.container{
  display:grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "hd"
  "con"
  "art"
  "sd"
  "ft";
}

.content-container {
  display: grid;
  grid-area: con;
  padding: 20px 10%;
  grid-template-columns: 100%;
}

.article-container {
  display: grid;
  grid-area: art;
}

.sidebar-container {
  display: grid;
  grid-area: sd;
}

/* Featured Image */
.featured-image-container {
  text-align: center;
  margin-bottom: 20px;
}

.featured-image {
  width: 100%;
  height: auto;
}

/* Article Content */
.article-heading {
  text-align: center;
  font-size: 3em;
  color: #333;
  margin-bottom: 0;
}

.article-sub-heading {
  font-size: 1.5em;
  text-align: center;
  color: #3e3e3e;
}

/* Author Social Info */
.article-author-social {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}

.author-block {
  display: flex;
  align-items: center;
}

.social-share {
  display: flex;
  gap: 1%;
  align-items: center;
}

.share-icons {
  display: flex;
}

@media (min-width:900px){
.container{
  display:grid;
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd"
  "con con con con con con con con"
  "ft ft ft ft ft ft ft ft";
  }
  .content-container{
  grid-template-areas: 
  "art art art art art sd sd sd"
  }
}
