@import url('form.css');

/* Layout */
.wrapper{
  display:grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "hd"
  "fi"
  "art"
  "sd"
  "ft";
}

article{
  display: grid;
  grid-area: art;
  padding: 20px 5%;
}

.sidebar-container{
  display: grid;
  grid-area: sd;
  padding: 20px 5%;
}

/* Featured Image */
.featured-image-container{
  grid-area: fi;
  text-align: center;
  margin-bottom: 20px;
  padding: 0 5%;
}

.featured-image{
  width: 100%;
  height: auto;
}

/* Article Content */
.article-heading{
  text-align: center;
  font-size: 3em;
  color: #333;
  margin-bottom: 0;
}

.article-body{
  font-size: 16px;
  line-height: 1.6;
}
  
.article-sub-heading{
  font-size: 1.5em;
  text-align: center;
  color: #3e3e3e;
}

blockquote{
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 2em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
  color: #534582;
}

blockquote:before{
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p{
  display: inline;
}

.back-link{
  padding-left: 40px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  margin: 20px 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Author Social Info */
.article-author-social{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  padding: 20px 5%;
}

.author-block{
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-share{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.share-icons{
  display: flex;
  gap: 10px;
}

.share-text{
  font-size: 20px;
}

.social-icon-img {
  width: 3em;
  height: 3em;
}

.author-title{
  font-style: italic;
  font-size: 12px;
}

.author-company{
  color: #2B361A;
  font-size: 12px;
}

/* Author Bio Box */
.author-box{
  display: flex;
  background-color: #221C35;
  padding: 20px;
}

.img-column1{
  display: inline-flex;
  flex: 20%;
  padding: 15px;
  align-items: center;
}

.bio-column2{
  display: inline-flex;
  flex: 80%;
  padding: 15px;
  align-items: center;
}
.bio-heading{
  font-size: 16px;
  color: #fff;
  text-decoration: underline;
}
.bio-text{
  color: #fff;
}

/* Bottom Share Icons */
.social-share-below {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 20px;
}

/* Article Body Image */
.article-image-container{
  width: 100%;
  padding: 30px 2%;
}

.article-img{
  width: 90%;
  text-align: center;
}

/* Latest Posts */
.latest-posts-widget{
  display: flex;
  flex-direction: column;
}

.latest-post-heading{
  color: #534582;
  margin-top: 0;
  font-size: 25px;
}

.latest-post-img{
  max-width: 280px;
}

.latest-post-title{
  font-size: 18px;
  color: #534582;
  margin-top: 0;
}

/* Responsive CSS */
@media (min-width:900px){
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 
    "hd hd"
    "fi fi"
    "art sd"
    "ft ft";
}
}
