@import url('index-layout.css');
@import url('article-cards.css');
@import url('top-nav.css');

body{
  font: 14px 'Poppins', sans-serif;
}

.container{
  display:grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "hd"
  "con"
  "ft";
}

/* Footer */

.footer{
  display: grid;
  grid-area: ft;
  margin-top: 50px;
  padding: 20px;
  justify-content: center;
  background-color: #333;
}

.footer-text{
  text-align: center;
  color: #fff;
}

/* Header */

.header-box{
  grid-area: hd;
}

.title-heading{
  color: #333;
  font: 2em 'Poppins', sans-serif;
  text-align: center;
}
