.title-heading {
    font-size: 2em;
    color: #333;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0 auto;
}
.top-nav {
    padding: 20px 5%;
    background-color: #333;
    width: 100%;
}
.top-nav-menu {
    font-size: 0.5em;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.top-nav-menu {
    display: flex;
    justify-content: center;
    padding: 0 15px;
}
