body{
  font: 14px 'Poppins', sans-serif;
}
.container{
  display:grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "hd"
  "con"
  "ft";
}
/* Footer */
.footer{
  display: grid;
  grid-area: ft;
  margin-top: 50px;
  padding: 20px;
  justify-content: center;
  background-color: #333;
}
.footer-text{
  text-align: center;
  color: #fff;
}
/* Header Area */
.header-box{
  grid-area: hd;
}
.title-heading{
  color: #333;
  font: 2em 'Poppins', sans-serif;
  text-align: center;
}
.top-nav{
  padding: 5px 5%;
  background-color: #333;
}
.top-nav-menu{
  display: flex;
  color: #fff;
  font: 14px 'Poppins', sans-serif;
  text-decoration: none;
  list-style-type: none;
  margin: 5px;
  gap: 5%;
  justify-content: center;
  padding: 0 15px;
  text-align: center;
  align-items: center;
}
/* Main Content Area */
.content{
  grid-area: con;
  text-align: center;
}
.article-card{
  margin: 15px 10px;
  border: #efefef solid 1px;
  padding: 10px 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.article-card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.article-card-image {
  width: 100%;
}
#button-article{
  padding: 5px 20px;
  background-color: #000;
  color: #fff;
  margin: 10px 0;
  border: #000 1px solid;
  font-family: inherit;
}
#button-article:hover{
  background-color: #fff;
  color: #333;
}
@media (min-width:900px){
.container{
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: 
  "hd hd hd hd hd hd hd hd"
  "con con con con con con con con"
  "ft ft ft ft ft ft ft ft";
}
.content{
  padding: 20px 20px;
  text-align: left;
  grid-area: con;
  grid-template-columns: 25% 25% 25%;
  display: grid;
  grid-gap: 2%;
  justify-content: center;
  }
}
@media(min-width: 600px) and (max-width: 900px){
  .content {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
