.top-nav{
  padding: 5px 5%;
  background-color: #333;
}

.top-nav-menu{
  display: flex;
  color: #fff;
  font: 14px 'Poppins', sans-serif;
  text-decoration: none;
  list-style-type: none;
  margin: 5px;
  gap: 5%;
  justify-content: center;
  padding: 0 15px;
  text-align: center;
  align-items: center;
}

.nav-links{
  color: #fff;
  text-decoration: none;
}

.nav-links: hover{
  text-decoration: underline;
}
